{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Manage your classes and students</p>
                  <h2 class="section-title">Detailed and intuitive database of your college </h2>
                </div>
                <div class="content">
                  <p>
                    Don´t get lost anymore in your own database trying to build yearly statistics report. With Noodle, your All-in-One database, you can have all the information organized and ready to use. It´s easy to access and easy to use. Even if you don´t have experience with SQL, you can do a course do get the basics covered up.
                  </p>
                  <a href="#features" class="btn btn-common mt-3">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>