{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Cursos Disponíveis</title>

</head>
<body>

    <section id="cursos" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Courses</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          {% for c in cursos %}
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="cursos-item wow fadeInRight" data-wow-delay="1s">
              <div class="icon">
                <i class="{{ c.icone }}"></i>
              </div>
              <div class="cursos-content">
                <h3><a href="cursos/"> {{ s.nome }}</a></h3>
                <p>{{ s.descricao }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

          {% for curso in cursos %}
          <!-- Curso item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="curso-item wow fadeInRight" data-wow-delay="1s">
              <div class="curso-thumb">
                <img src="{% static 'images/course_placeholder.png' %}" alt="Insira img curso aqui">
              </div>
              <div class="curso-content">
                <h3><a href="#">SQL Basic</a></h3>
                <p>Learn about SQL from the bottom.</p>
              </div>
              <div class="curso-footer">
                <span class="curso-preco">$10.00</span>
                <a href="#" class="btn btn-primary">BUY</a>
              </div>
            </div>
          </div>
          {% empty %}
          {% for i in "0"|ljust:5 %}
          <!-- Placeholder item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="curso-item wow fadeInRight" data-wow-delay="1s">
              <div class="curso-thumb">
                <img src="{% static 'images/course_placeholder.png' %}" alt="Insira img curso aqui">
              </div>
              <div class="curso-content">
                <h3><a href="#">Course</a></h3>
                <p>The best teacher in our college for you. </p>
              </div>
              <div class="curso-footer">
                <span class="curso-preco">$0.00</span>
                <a href="#" class="btn btn-primary">Buy</a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% include 'rodape.html' %}
</body>
</html>
{% endblock %}