{% load static %}
{% block content %}
    <section id="services" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Courses</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">

          {% for s in cursos %}
          <!-- Services item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="1s">
              <div class="services-content">
                <h3><a href="#"> {{ s.nome }}</a></h3>
                <p>{{ s.descricao }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

          {% for i in "0"|ljust:12 %}
          <!-- Placeholder item -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="curso-item wow fadeInRight" data-wow-delay="1s">
              <div class="curso-thumb">
                <img src="{% static 'img/user_placeholder.png' %}" alt="Insira um curso aqui">
              </div>
              <div class="curso-content">
                <h3><a href="#">Insira um curso aqui</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="curso-footer">
                <span class="curso-preco">$0.00</span>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
{% endblock %}