{% load static %}
<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">With Noodle</h2>
                <p>Come to us and join the force. Do better, do faster, do with ease. </p>
                <div class="header-button">
                  <a href="#pricing" class="btn btn-common">Know More</i></a>
                  <a href="#contact" class="btn btn-border video-popup">Contact Us</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        {% if messages %}
          {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
              <button type="button" class="close" data-dismiss="alert"></button>
              <strong> {{ m }} </strong>
            </div>
          {% endfor %}
        {% endif %}
      </div>
</header>
    <!-- Header Area wrapper End -->