{% load static %}
{% block content %}

<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logo.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Your SQL tool to manage your college!</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Courses</h3>
              <ul class="footer-link">
                <li><a href="cursos/">SQL</a></li>
                <li><a href="cursos/">Web Development</a></li>
                <li><a href="cursos/">GUI</a></li>
                <li><a href="cursos/">Statistics</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Financial</h3>
              <ul class="footer-link">
                <li><a href="login/">Payment Options</a></li>
                <li><a href="login/">Fee Schedule</a></li>
                <li><a href="login/">Getting Started</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contact</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Campus UFSC Ararangua - <br> Predio A, lab 119A</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> +55(48) 3721-4680</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i>sig.cts.ara@contato.ufsc.br</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}